:root {
  --first-colour: #80a3a2;
  --second-colour: #abcecf;
  --third-colour: #c4dce0;
  --fourth-colour: #daf4f5;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  font-family: Raleway, sans-serif;
}

.navigation {
  background-color: var(--second-colour) !important;
}

.circle {
  background-color: var(--second-colour);
  border-radius: 175px;
  width: 350px;
  height: 350px;
  box-shadow: var(--box-shadow);
}

#profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-left: 60px;
  margin-bottom: 200px;
  margin-top: 0px;
  position: absolute;
  box-shadow: var(--box-shadow);
}

.profile {
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
}

.button-style {
  text-decoration: none;
  background-color: #80a3a2;
  color: white;
  width: 22%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: center;
  display: block;
  margin-left: 39%;
  margin-right: 39%;
}

.button-style:hover {
  color: white;
  background-color: #94b7b6;
  transition: all 200ms ease-in-out;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.violin-profile {
  width: 550px;
  box-shadow: var(--box-shadow);
}

.about-container {
  margin-top: 85px;
}

.info-wrapper {
  background-color: var(--second-colour);
  width: 550px;
  padding: 50px;
  box-shadow: var(--box-shadow);
}

.about-info {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.about-link {
  width: 150px;
  margin: 0 auto;
  margin-top: 50px;
}

.violin-page {
  width: 300px;
  box-shadow: var(--box-shadow);
}

.weather-app {
  width: 300px;
  box-shadow: var(--box-shadow);
}

@media (max-width: 1180px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 15px;
  }

  p {
    font-size: 15px;
    text-align: center;
  }

  .profile {
    flex-direction: column;
    justify-content: center;
  }

  .for-image {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .for-greeting {
    width: 60%;
    margin: 0 auto;
  }

  .about-link {
    width: 150px;
    margin: 0 auto;
  }
}
@media (max-width: 667px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }

  .for-image {
    display: none;
  }

  .for-greeting {
    width: 95%;
    margin: 0 auto;
  }

  .about-link {
    width: 150px;
    margin: 0 auto;
  }
}
